<div class="hidden absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 z-[99999999] bg-slate-600 p-4 rounded-md w-3/5" id="modal">
    <span class="text-slate-950 text-xl font-bold">Register Password</span>
    <form class="flex flex-col gap-4 mt-10" id="add-form" method="post" action="/password">
        <div class="flex flex-col gap-2 justify-start items-start">
            <label class="font-regular text-lg" for="password-name">Password Name</label>
            <input class="w-full rounded p-2" id="password-name" name="password-name" type="text">
        </div>
        <div class="flex flex-col gap-2 justify-start items-start">
            <label class="font-regular text-lg" for="password">Password</label>
            <input class="w-full rounded p-2" id="password" name="password" type="password">
        </div>
        <div class="flex w-full justify-end items-center gap-4">
            <button onclick="closeModal()" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button">Cancel</button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save</button>
        </div>
    </form>
    <script>
        function closeModal() {
            $("#modal").addClass("hidden")
            $("#password").val('')
            $("#password-name").val('')
        }
    </script>
</div>